{% extends "layout.html" %}

{% block title %}Arvostelun poistaminen{% endblock %}

{% block content %}

<h2>Arvostelun poistaminen</h2>
<p>
  Arvostelu: {{ item.title }}
</p>
<p>
  Haluatko varmasti poistaa tämän ilmoituksen?
</p>
<form action="/remove_item/{{ item.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista arvostelu">
  <input type="submit" name="back" value="Takaisin">
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin arvosteluun</a>
</p>
{% endblock %}